:root {
  --container-height: 100vh;
  --container-width: 100%;

  --header-height: 10vh;
  --header-width: 95vw;

  --main-height: 85vh;
  --main-width: 95vw;

  --left-height: 80vh;
  --left-width: 75vw;

  --left-down-height:70%;
  --left-down-width:100%;

  --left-up-height:30%;
 
  --left-merge-height:100%;
  --left-merge-width:80%;

  --left-delete-height:100%;
  --left-delete-width:20%;

  --right-height: 80vh;
  --right-width: 18vw;

  --button-box-height: 10vh;
  --button-box-width: 12vw;

  --number-box-height: 10vh;
  --number-box-width: 60vw;

  --button-height: 10vh;
  --button-width: 5vw;

  --theme-color1: #bfe7da;
  --theme-color2: #f0ede5;
  --background-color: #e8ecf2;
  --box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);

  --font-line1: 25px;
  --font-line2: 20px;
  --font-universal: 12px;
  --font-weight: 500;
  --font-weight-universal: 250;

  --img1-width: 28px;
  --img1-height: 28px;
  --img2-width: 220px;
  --img2-height: 30px;
  --img3-width: 220px;
  --img3-height: 220px;
  --img4-width: 240px;
  --img4-height: 240px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 250;
  font-family: "Poppins", sans-serif;

 
  /* overflow: hidden; */

  cursor: pointer;
}
body{
  height: 100vh;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Alter Version Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Moderne Browser (Chrome/Firefox/Opera) */
  overflow: hidden;
}
button {
  user-select: none;
}
/* colors  #bfe7da greenish  theme color     #e8ecf2 whitesh Background color  #f0e9e6 alternative theme color  */
.container {
  height: var(--container-height);
  width: var(--container-width);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* background-color: #ecbbb5; */
  overflow: hidden;
  background-color: var(--background-color);
  user-select: none;
}

/* header part starts here */
.header {
  height: var(--header-height);
  width: var(--header-width);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  /* background-color: #e8ecf2; */
  /* margin-bottom: 10px; */

  /* background-color: #ca3d2b; */

  border-radius: 1em;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);
}

.showNumber {
  width: var(--number-box-width);
  height: var(--number-box-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* visibility: hidden; */
  /* background-color: rgb(0, 255, 13); */

  /* background-color: #ca3d2b; */
}
/* .randomNumber {
  color: #a2d1c2;
  font-size: var(--font-line1);
  font-weight: var(--font-weight);
}

.secondLine {
  font-size: var(--font-line2);
  font-weight: var(--font-weight);
  color: #73787d;
}
.firstLine {
  color: #a2d1c2;
  font-size: var(--font-line1);
  font-weight: var(--font-weight);
}
.lineAfter {
  font-size: var(--font-line2);
  font-weight: var(--font-weight);
  color: #73787d;
}
.lineFalsch {
  color: #ecbbb5;
  font-size: var(--font-line1);
  font-weight: var(--font-weight);
} */
.black-line-big{
  font-size: var(--font-line1);
  font-weight: var(--font-weight);
  color: #73787d;
}
.black-line-mid{
  font-size: var(--font-line2);
  font-weight: var(--font-weight);
  color: #73787d;
}
.color-line-big{
  font-size: var(--font-line1);
  font-weight: var(--font-weight);
  color: #a2d1c2;
}
.color-line-big-red{
  font-size: var(--font-line1);
  font-weight: var(--font-weight);
  color: #ecbbb5;
}
.color-line-big-yellow{
  font-size: var(--font-line1);
  font-weight: var(--font-weight);
  color: #bdd1a2;
}

.btnBox {
  width: var(--button-box-width);
  height: var(--button-box-height);
  display: flex;
  justify-content: space-between;
  /* background-color: #ecbbb5; */
  align-items: center;
}
button {
  border: none;
  cursor: pointer;
  height: var(--button-height);
  width: var(--button-width);
  transition: all;
  transition-duration: 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-universal);
  font-weight: var(--font-weight-universal);
  font-family: "Poppins", sans-serif;
}

.btn {
  background-color: var(--background-color);
  color: #73787d;
  border: 2px solid var(--background-color);
  border-radius: 1em;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.8),
    1px 1px 3px rgba(0, 0, 0, 0.25);
}
#valuebtn {
  background-color: var(--theme-color1);
}
#checkbtn {
  background-color: rgb(207, 223, 247);
}
#undobtn {
  background-color: rgb(233, 238, 214);
}
.speaker {
  width: 30px;
  height: 30px;
  filter: opacity(50%);
}
.undo {
  width: 25px;
  height: 25px;
  filter: opacity(40%);
}
.question {
  width: 20px;
  height: 20px;
  filter: opacity(40%);
}
.info {
  width: 25px;
  height: 25px;
  filter: opacity(40%);
}

/* main area starts here */

.main {
  width: var(--main-width);
  height: var(--main-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* leftside dropbox area  starts here */

.leftSide {
  width: var(--left-width);
  height: var(--left-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: azure; */
}

.dropBox {
  width: var(--left-width);
  height: var(--left-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  /* background-color: var(--theme-color1); */
  box-shadow: var(--box-shadow);
  border-radius: 2em;
  
}
.up{
  display: flex;
  height: var(--left-up-height);
  width: var(--left-width);
}
.dropBox-merge{
  background-color: #eeeadd;
  height: var(--left-merge-height);
  width: var(--left-merge-width);
  border-top-left-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.merge-img{
  width: 50%;
  filter: opacity(10%);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}
.hide{
  opacity: 0;
  
}
.unhide{
  transition: opacity 1.5s ease-in;
  transition-delay: 0.4s;
  opacity: 1;
}
.dropBox-delete{
  background-color: #f0d9d9ab;
  height: var(--left-delete-height);
  width: var(--left-delete-width);
  border-top-right-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recycle-bin{
  width: 30%;
  filter: opacity(10%);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.down{
  background-color: var(--theme-color2);
  height: 70%;
  width: 100%;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
/* rightside images representing draggable boxes */

.rightSide {
  width: var(--right-width);
  height: var(--right-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 2em;
  background-color: var(--theme-color2);
}

.dragBox {
  width: var(--drag-box-width);
  height: var(--drag-box-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellow;   */
}
.dragBox:first-child {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img1 {
  width: var(--img1-width);
  height: var(--img1-height);
}
.img2 {
  width: var(--img2-width);
  height: var(--img2-height);
}
.img3 {
  width: var(--img3-width);
  height: var(--img3-height);
}
.img4 {
  width: var(--img4-width);
  height: var(--img4-height);
}

/* when hover on a button change color only for non touch screens */
@media (hover: hover) {
  .btn:hover {
    background-color: var(--theme-color1);
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
      1px 1px 5px rgba(0, 0, 0, 0.3), inset -2px -2px 5px rgba(255, 255, 255, 1),
      inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

/* on a screen smaller than 1366px of width the boxes will appear 20% smaller than desktop version  */
@media only screen and (max-width: 1368px) {
  :root{

  --font-line1: 20px;
  --font-line2: 18px;
  --font-universal: 12px;
  --font-weight: 400;
  --font-weight-universal: 250;

  --img1-width: 20px;
  --img1-height: 20px;
  --img2-width: 154px;
  --img2-height: 21px;
  --img3-width: 155px;
  --img3-height: 155px;
  --img4-width: 170px;
  --img4-height: 170px;
  }
  
}


/* on a screen smaller than 1024px of width the boxes will appear 40% smaller than desktop version  */
@media only screen and (max-width: 1024px), screen and (max-height: 900px) {
  :root{

  --font-line1: 18px;
  --font-line2: 15px;
  --font-universal: 12px;
  --font-weight: 400;
  --font-weight-universal: 250;

  --img1-width: 18px;
  --img1-height: 18px;
  --img2-width: 132px;
  --img2-height: 18px;
  --img3-width: 132px;
  --img3-height: 132px;
  --img4-width: 145px;
  --img4-height: 145px;
  }
  
}


/* on a screen smaller than 768px of width the boxes will appear 50% smaller than desktop version  */
@media only screen and (max-width: 768px) {
  :root{

  --font-line1: 18px;
  --font-line2: 15px;
  --font-universal: 12px;
  --font-weight: 400;
  --font-weight-universal: 250;

  --img1-width: 15px;
  --img1-height: 15px;
  --img2-width: 110px;
  --img2-height: 18px;
  --img3-width: 110px;
  --img3-height: 110px;
  --img4-width: 120px;
  --img4-height: 120px;
  }
  
}

/* on a screen smaller than 700px of width the boxes will appear 50% smaller than desktop version  */
@media only screen and (max-width: 720px) {
  :root{

  --font-line1: 10px;
  --font-line2: 8px;
  --font-universal: 10px;
  --font-weight: 300;
  --font-weight-universal: 200;

  --img1-width: 12px;
  --img1-height: 12px;
  --img2-width: 88px;
  --img2-height: 14px;
  --img3-width: 88px;
  --img3-height: 88px;
  --img4-width: 96px;
  --img4-height: 96px;
  }
  
}
@media only screen and (max-height: 390px) {
  :root{

  --font-line1: 10px;
  --font-line2: 8px;
  --font-universal: 10px;
  --font-weight: 300;
  --font-weight-universal: 200;

  --img1-width: 9px;
  --img1-height: 9px;
  --img2-width: 70px;
  --img2-height: 11px;
  --img3-width: 70px;
  --img3-height: 70px;
  --img4-width: 76px;
  --img4-height: 76px;
  }
  
}
